body{
    font-family: Arial, sans-serif;
    margin: 20px;
    background: #000000;
    background: linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(69, 72, 79, 1) 100%, rgba(71, 76, 99, 1) 50%);
    color: white;
}
#WebsiteHeading{
    text-align: center;
    margin-bottom: 2px;
}
#HeaderBtn{
    font-size: 2em; /* Make it larger like a heading */
    padding: 10px 20px;;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bolder;
    background: none;
    color: white;
}
#LinksSection {
    position: absolute;
    bottom: 0;
    width: 100%;
    margin-bottom: 10pt;
    font-size: 12.5px;
}
