body{
    font-family: Arial, sans-serif;
    margin: 20px;
}
#WebsiteHeading {
    display: flex;
    justify-content: center;
    font-size: 25px;
}
#LinksSection {
    position: fixed;
    bottom: 0;
    width: 100%;
    margin-bottom: 10pt;
    font-size: 12.5px;
}
